/* Variables */

$font-head: 'Monoton', cursive;
$font-text: 'Gruppo', cursive;
$color-head: #e1b12c;
$color-first: #f7f1e3;
$color-second: #1e272e;
$color-text-light: #f5f6fa;
$color-text-dark: black;
$color-neon: #ff005b;
$color-neon-2: rgb(0, 65, 243);
$color-neon-3: rgb(128, 3, 128);
$color-neon-4: #00c200;

/* Global */ 

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-text;
    color: $color-text-dark;
    background-color: $color-first;
}

.container {
    max-height: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

.section {
    padding: 96px 0;
}

/* Navigation */

.navigation {
    background-color: $color-second;
    padding: 12px 0;
    color: $color-text-light;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    li {
        display: inline-block;
        margin-right: 50px;
        position: relative;

        ul {            
            margin-bottom: 12px;
            display: block;
            display: none;            
            position: absolute;
            background-color: $color-second;
            padding: 0 24px;
            left: 50%;
            transform: translateX(-50%);
            padding-top: 12px;

            li {                
                margin: 0 auto;
            }
        }
    }

    li:hover ul{
        display: block;
    }

    a {
        color: $color-neon;
        text-decoration: none;        
    }

    a:hover {
        color: $color-head;
    }
}

/* Splash */

.splash {
    background-color: $color-second;
    color: $color-head;
    min-height: 500px;
    display: flex;    
}

.splash-inner {
    margin: auto;
    max-width: 70%;
}

.page-title {
  margin: 0;
  font-size: 56px;
  font-family: $font-head;
  word-spacing: 20px;
  line-height: 1.4;
  letter-spacing: 3px;
  color: $color-head
}

.page-subtitle {
    margin: 24px 0;
    font-size: 20px;
    color: $color-text-light;
}

.neon {
    text-shadow: 0 0 20px $color-neon;
    animation: neon 2s linear infinite;
}

@keyframes neon {
    0%,
    100% {
        text-shadow: 0 0 1vw $color-neon,
                    0 0 3vw $color-neon,
                    0 0 4vw $color-neon,
                    0 0 10vw $color-neon,
                    0 0 .4vw $color-head,
                    .5vw .5vw .1vw $color-head;
        color: $color-head;
    }
    50% {
        text-shadow: 0 0 1vw $color-neon,
        0 0 .5vw red,
        0 0 1.5vw red,
        0 0 5vw red,
        0 0 .2vw red,
        .5vw .5vw .1vw black;
color: $color-head;
    }    
}

/* Buttons */

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 10px;
    border-radius: 5px;
    font-family: $font-text;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid; 
    transition: 0.5s; 
}

.btn-one {
    color:$color-neon;
}

.btn-one:hover {
    box-shadow: 0 0 .2rem $color-first,
            0 0 .2rem $color-first,
            0 0 2rem $color-neon,
            0 0 0.8rem $color-neon,
            0 0 2.8rem $color-neon,
            inset 0 0 1.3rem $color-neon;

            color: $color-text-light;
            font-weight: bold;
}

.btn-two {
    color:$color-neon-2;
}

.btn-two:hover {
    box-shadow: 0 0 .2rem $color-first,
            0 0 .2rem $color-first,
            0 0 2rem $color-neon-2,
            0 0 0.8rem $color-neon-2,
            0 0 2.8rem $color-neon-2,
            inset 0 0 1.3rem $color-neon-2;

            color: $color-second;
            font-weight: bold;
}

.btn-three {
    color:$color-neon-3;
}

.btn-three:hover {
    box-shadow: 0 0 .2rem $color-first,
            0 0 .2rem $color-first,
            0 0 2rem $color-neon-3,
            0 0 0.8rem $color-neon-3,
            0 0 2.8rem $color-neon-3,
            inset 0 0 1.3rem $color-neon-3;

            color: $color-second;
            font-weight: bold;
}

.btn-four {
    color:$color-neon-4;
}

.btn-four:hover {
    box-shadow: 0 0 .2rem $color-first,
            0 0 .2rem $color-first,
            0 0 2rem $color-neon-4,
            0 0 0.8rem $color-neon-4,
            0 0 2.8rem $color-neon-4,
            inset 0 0 1.3rem $color-neon-4;

            color: $color-second;
            font-weight: bold;
}

/* Our service */

h2 {
    font-size: 48px;
    margin: 20px 0px 72px 50px;;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 96px;

    div {
        flex: 0 0 33.333%;
        position: relative;
        padding: 50px;
        z-index: 3;

        p:nth-of-type(2) {
            font-weight: bold;
            margin-bottom: -10px;
        }

        p {
            font-size: 18px;
        }

        p:first-of-type {
            position: absolute;
            top: -50px;
            font-size: 40px;
            font-weight: 400;
            font-variant: small-caps;
            font-family: $font-head;
        }
    }

    .box-1::before {
        position: absolute;
        content: "1";
        font-family: $font-head;
        color: $color-head;
        font-size: 148px;
        line-height: 1;
        top: -20px;
        z-index: -1;
    }

    .box-2::before {
        position: absolute;
        content: "2";
        font-family: $font-head;
        color: $color-head;
        font-size: 148px;
        line-height: 1;
        top: -20px;
        z-index: -1;
    }

    .box-3::before {
        position: absolute;
        content: "3";
        font-family: $font-head;
        color: $color-head;
        font-size: 148px;
        line-height: 1;
        top: -20px;
        z-index: -1;
    } 
    
}

/* our antiquities */

.wrapper-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 96px 0 96px 0;
}


.box-image {
    flex: 0 0 50%;
    min-height: 300px;
    margin-bottom: 96px;
    position: relative;

    img {
        width: 50%;       
        float: left;
        padding: 20px;
        overflow: hidden;
        
    }

}   

.description{

    position: absolute;    
    left: 60%;   

    p {
        line-height: 15px;
        margin: 0;
        padding: 0;
        display: block;
    }

    .btn-five {
        border: none;
        margin: 15px 0;
        padding: 0;
        text-align: left;
        color: $color-second;
        font-weight: bold;
    }

    .btn-five:hover {
        color: $color-head;
        font-weight: bold;
    }
}

/* Contact */

.contact {
    background-color: $color-second;
    color: $color-first;
    min-height: 500px;
}

.wrapper-3 {
    display: flex;
    margin: 0 96px 0 96px;
}

.form {
    flex: 2 0 0;  

    input, textarea {
        display: block;
        width: 100%;
        margin-bottom: 15px;
        background-color: inherit;
        border: none;
        border-bottom: 2px $color-head solid;
        color: $color-text-light;
        font-size: 16px;        
    }

    :focus {
        border: none;
        outline: none;
    }

    ::placeholder {
        color: $color-head;
        margin-bottom: 5px;
        font-family: $font-text;
        font-weight: bold;
      }

      a{
          color: $color-first;
      }
}

.card {
    flex: 1 0 0;
    margin-left: 96px;

    h3 {
        margin: 0;

    }

    p {
        margin-top: 0;
    }
}


