/* Variables */

$font-head: 'Monoton', cursive;
$font-text: 'Gruppo', cursive;
$color-head: #e1b12c;
$color-first: #f7f1e3;
$color-second: #2f3640;
$color-text-light: #f5f6fa;
$color-text-dark: #1e272e;

/* Global */ 

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-text;
    color: $color-text-dark;
    background-color: $color-first;
}

.container {
    max-height: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

.section {
    padding: 96px 0;
}